# Import Libraries and Setting API

In [1]:
import tweepy
import json
import datetime
import warnings
import time
warnings.filterwarnings('ignore')
consumer_key = 'nRO8b2R7tnipKtrFTJVRUru7V'
consumer_secret = 'bK2v3PVVZGktAT2BbviC96Tz9vzjq0ZDj2WLKZ1pmm5aGgu4eW'
access_token = '1098973181468205057-xXfZG8xbtYbXjE6T2s0Ok5J0bKRpsN'
access_token_secret = 'W7muOM4ABrbSH59nHLH43YMeRl3GZCfN1v8FOh1p8tPHh'
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit = True)

# API 2 function

In [2]:
# SNSUser.accountID, SNSUser.userName, Person.personName OR Team.teamName -> API.user
def anyname2user(anyname):
    user = api.get_user(anyname)
    return user

In [3]:
# API.user -> SNSUser.accountID
def user2accountid(user):
    return user.id

In [4]:
# API.user -> Person.personName OR Team.teamName
def user2name(user):
    return user.name

In [5]:
# API.user -> SNSUser.userName
def user2username(user):
    return user.screen_name

In [6]:
# API.user -> Location.locationName
def user2locationname(user):
    location = ""
    pgcount = 1
    allflag = False
    timenow   = datetime.datetime.now()
    tweetlist = []
    start = time.clock()
    while not allflag:
        tweets = api.user_timeline(user.id, page = pgcount, tweet_mode = 'extended')
        for tweet in tweets:
            if (timenow - tweet.created_at).days < 1:
                tweetlist.append(tweet)
            else:
                 allflag = True
        if not allflag:
            pgcount += 1
        timeused = time.clock() - start
        if timeused > 5:
            break
    for tweet in tweetlist:
        if not tweet.place == None:
            location = tweet.place.__dict__.get("full_name")
            if location != "":
                break
    if location == "":
        location = user.location
    return location

In [7]:
# API.user -> SNSUser.followersCount
def user2followerscount(user):
    return user.followers_count

In [8]:
# API.user -> SNSUser.postsCount
def user2postscount(user):
    return user.statuses_count

In [9]:
# API.post -> Post.postID
def post2postid(tweet):
    return tweet._json.get("id")

In [10]:
# API.post -> Post.SNSUserID
def post2snsuserid(tweet):
    return tweet._json.get("user").get("id")

In [11]:
# API.post -> Post.content
def post2content(tweet):
    return tweet._json.get("full_text")

In [12]:
# API.post -> Post.favoriteCount
def post2favoritecount(tweet):
    return tweet._json.get("favorite_count")

In [13]:
# API.post -> Post.createdTime
def post2createdtime(tweet):
    return tweet.created_at

In [14]:
# API.post -> API.post.location
def post2postlocation(tweet):
    return tweet.place.__dict__.get("full_name")

In [15]:
# API.post -> Tag.tagText(hashtag) list
def post2tagtexthashtaglist(tweet):
    hashtags = tweet._json.get("entities").get("hashtags")
    hashtagList = []
    for hashtag in hashtags:
        hashtagList.append(hashtag.get("text"))
    return hashtagList

In [16]:
# API.post -> Tag.tagText(mention) list
def post2tagtextmentionlist(tweet):
    mentions = tweet._json.get("entities").get("user_mentions")
    mentionList = []
    for mention in mentions:
        mentionList.append(mention.get("screen_name"))
    return mentionList

In [17]:
# SNSUser.accountID, SNSUser.userName, Person.personName OR Team.teamName -> @param number days posts list
def anyname2dayspostlist(anyname, number):
    pgcount = 1
    allflag = False
    timenow   = datetime.datetime.now()
    tweetlist = []
    while not allflag:
        tweets = api.user_timeline(anyname, page = pgcount, tweet_mode = 'extended')
        for tweet in tweets:
            if (timenow - tweet.created_at).days < number:
                tweetlist.append(tweet)
            else:
                 allflag = True
        if not allflag:
            pgcount += 1
        else:
            return tweetlist

In [18]:
# Tag.tagText(hashtag) -> posts list
def tagtexthashtag2postlist(hashtag, number):
    tweets = []
    for tweet in tweepy.Cursor(api.search, q='#' + hashtag, tweet_mode = 'extended').items(number):
        tweets.append(tweet)
    return tweets

In [19]:
# Tag.tagText(mention) -> posts list
def tagtextmention2postlist(mention, number):
    tweets = []
    for tweet in tweepy.Cursor(api.search, q='@' + mention, tweet_mode = 'extended').items(number):
        tweets.append(tweet)
    return tweets

# Make DataFrame

In [20]:
import pandas as pd
Player = pd.DataFrame(columns = ["personID"])
Player_Fan = pd.DataFrame(columns = ["prfID", "PlayerpersonID", "FanpersonID"])
Fan = pd.DataFrame(columns = ["personID"])
Fan_Team = pd.DataFrame(columns = ["frtID", "FanpersonID", "TeamteamID"])
Person = pd.DataFrame(columns = ["personID", "personName", "locationID"])
Team = pd.DataFrame(columns = ["teamID", "teamName", "locationID"])
Person_SNSUser = pd.DataFrame(columns = ["prsID", "PersonpersonID", "SNSUserSNSUserID"])
Location = pd.DataFrame(columns = ["locationID", "locationName"])
Team_SNSUser = pd.DataFrame(columns = ["trsID", "TeamteamID", "SNSUserSNSUserID"])
SNSUser = pd.DataFrame(columns = ["SNSUserID", "SNSType", "accountID", "userName", "followersCount", "postsCount"])
Post = pd.DataFrame(columns = ["SNSpostID", "postID", "SNSUserID", "content", "favoriteCount", "createdTime"])
Post_Tag = pd.DataFrame(columns = ["prtID", "PostSNSpostID", "TagTagID"])
Tag = pd.DataFrame(columns = ["tagID", "tagText", "tagType"])
DomainTag = pd.DataFrame(columns = ["tagID"])
SynonymsTag = pd.DataFrame(columns = ["tagID1", "tagID2"])
MisspellingsTag = pd.DataFrame(columns = ["tagID1", "tagID2"])
TagCatagory_Tag = pd.DataFrame(columns = ["trtID", "TagCatagorycatagoryID", "TagTagID"])
TagCatagory = pd.DataFrame(columns = ["catagoryID", "catagoryName"])

# Data Retriving Function

## User Saving Function

In [21]:
# user saving function
def savesnsuser(user):
    if SNSUser[SNSUser["accountID"].isin([user2accountid(user)])].shape[0] == 0:
        SNSUser.loc[SNSUser.shape[0] + 1] = {"SNSUserID": SNSUser.shape[0] + 1, 
                                             "SNSType": "Twitter", 
                                             "accountID": user2accountid(user), 
                                             "userName": user2username(user), 
                                             "followersCount": user2followerscount(user), 
                                             "postsCount":user2postscount(user)}
    else:
        SNSUser.set_value(SNSUser[SNSUser["accountID"].isin([user2accountid(user)])].loc[:, ["SNSUserID"]].values[0][0], "followersCount", user2followerscount(user))
        SNSUser.set_value(SNSUser[SNSUser["accountID"].isin([user2accountid(user)])].loc[:, ["SNSUserID"]].values[0][0], "postsCount", user2postscount(user))

## Post Saving Function

In [22]:
# post saving function
def savesnspost(post):
    if Post[Post["postID"].isin([post2postid(post)])].shape[0] == 0:
        Post.loc[Post.shape[0] + 1] = {"SNSpostID": Post.shape[0] + 1, 
                                       "postID": post2postid(post), 
                                       "SNSUserID": SNSUser[(SNSUser["accountID"].isin([post2snsuserid(post)])) & (SNSUser["SNSType"] == "Twitter")].loc[:, ["SNSUserID"]].values[0][0], 
                                       "content":post2content(post), 
                                       "favoriteCount":post2favoritecount(post), 
                                       "createdTime":post2createdtime(post)}
        taglist = post2tagtexthashtaglist(post)
        for tag in taglist:
            savesnstag(tag, "hashtag")
        taglist=post2tagtextmentionlist(post)
        for tag in taglist:
            savesnstag(tag, "mention")
    else:
        Post.set_value(Post[Post["postID"].isin([post2postid(post)])].loc[:, ["SNSpostID"]].values[0][0], "favoriteCount", post2favoritecount(post))

## Tag Saving Function

In [23]:
# tag saving function
def savesnstag(tag, tagType):
    if tagType == "hashtag":
        if Tag[(Tag["tagText"].isin([tag])) & (Tag["tagType"] == "hashtag")].shape[0] == 0:
            Tag.loc[Tag.shape[0] + 1] = {"tagID": Tag.shape[0] + 1, 
                                         "tagText": tag, 
                                         "tagType": "hashtag"}
        Post_Tag.loc[Post_Tag.shape[0] + 1] = {"prtID": Post_Tag.shape[0] + 1, 
                                               "PostSNSpostID": Post.shape[0], 
                                               "TagTagID": Tag[(Tag["tagText"].isin([tag])) & (Tag["tagType"] == "hashtag")].loc[:, ["tagID"]].values[0][0]}


    if tagType == "mention":
        if Tag[(Tag["tagText"].isin([tag])) & (Tag["tagType"] == "mention")].shape[0] == 0:
            Tag.loc[Tag.shape[0] + 1] = {"tagID": Tag.shape[0] + 1, 
                                         "tagText": tag, 
                                         "tagType": "mention"}
        Post_Tag.loc[Post_Tag.shape[0] + 1] = {"prtID": Post_Tag.shape[0] + 1, 
                                               "PostSNSpostID": Post.shape[0], 
                                               "TagTagID": Tag[(Tag["tagText"].isin([tag])) & (Tag["tagType"] == "mention")].loc[:, ["tagID"]].values[0][0]}

## Team Saving Function

In [24]:
# team saving function
def saveteam(teamName, userName):
    teamID = 0
    teamIDtemp = 0
    userExistFlag = True
    if SNSUser[SNSUser["accountID"].isin([user2accountid(anyname2user(userName))])].shape[0] == 0:
        userExistFlag = False
    savesnsuser(anyname2user(userName))
    locationName = user2locationname(anyname2user(userName))
    if Location[Location["locationName"].isin([locationName])].shape[0] == 0:
        Location.loc[Location.shape[0] + 1] = {"locationID": Location.shape[0] + 1, 
                                               "locationName": locationName}
    if not userExistFlag:
        Team.loc[Team.shape[0] + 1] = {"teamID": Team.shape[0] + 1, 
                                       "teamName": teamName, 
                                       "locationID": Location[Location["locationName"].isin([locationName])].loc[:, ["locationID"]].values[0][0]}
        teamIDtemp = Team.shape[0]
        teamID = Team.shape[0]
    else:
        teamID = Team[Team["teamName"].isin([teamName])].loc[:, ["teamID"]].values[0][0]
        if (teamIDtemp != 0):
            teamID = teamIDtemp
        Team.set_value(teamID, "locationID", Location[Location["locationName"].isin([locationName])].loc[:, ["locationID"]].values[0][0])
    Team_SNSUser.loc[Team_SNSUser.shape[0] + 1] = {"trsID": Team_SNSUser.shape[0] + 1, 
                                                   "TeamteamID": teamID, 
                                                   "SNSUserSNSUserID": SNSUser[SNSUser["userName"].isin([userName])].loc[:, ["SNSUserID"]].values[0][0]}
    Team_SNSUser.drop_duplicates(subset = ["TeamteamID","SNSUserSNSUserID"], keep='first', inplace=True)

## Player Saving Function

In [25]:
# player saving function
def saveplayer(personName, userName):
    personID = 0
    personIDtemp = 0
    userExistFlag = True
    if SNSUser[SNSUser["accountID"].isin([user2accountid(anyname2user(userName))])].shape[0] == 0:
        userExistFlag = False
    savesnsuser(anyname2user(userName))
    locationName = user2locationname(anyname2user(userName))
    if Location[Location["locationName"].isin([locationName])].shape[0] == 0:
        Location.loc[Location.shape[0] + 1] = {"locationID": Location.shape[0] + 1, 
                                               "locationName": locationName}
    if not userExistFlag:
        Person.loc[Person.shape[0] + 1] = {"personID": Person.shape[0] + 1, 
                                           "personName": personName, 
                                           "locationID": Location[Location["locationName"].isin([locationName])].loc[:, ["locationID"]].values[0][0]}
        Player.loc[Player.shape[0] + 1] = {"personID": Person.shape[0]}
        personIDtemp = Person.shape[0]
        personID = Person.shape[0]
    else:
        personID = Person[Person["personName"].isin([personName])].loc[:, ["personID"]].values[0][0]
        if (personIDtemp != 0):
            personID = personIDtemp
        Person.set_value(Person[Person["personName"].isin([personName])].loc[:, ["personID"]].values[0][0], "locationID", Location[Location["locationName"].isin([locationName])].loc[:, ["locationID"]].values[0][0])
    Person_SNSUser.loc[Person_SNSUser.shape[0] + 1] = {"prsID": Person_SNSUser.shape[0] + 1, 
                                                       "PersonpersonID": personID, 
                                                       "SNSUserSNSUserID": SNSUser[SNSUser["userName"].isin([userName])].loc[:, ["SNSUserID"]].values[0][0]}
    Person_SNSUser.drop_duplicates(subset = ["PersonpersonID","SNSUserSNSUserID"], keep='first', inplace=True)

## save user's posts

In [26]:
# save user's posts
def saveposts(userName, number):
    postlist = anyname2dayspostlist(userName,number)
    for post in postlist:
        savesnspost(post)

## save posts with team #hashtag

In [27]:
# save posts with team #hashtag
def saveteamhashtagposts(hashtag, number):
    postlist = tagtexthashtag2postlist(hashtag, number)
    for post in postlist:
        user = anyname2user(post2snsuserid(post))
        userName = user2username(user)
        personName = user2name(user)
        personID = 0
        userExistFlag = True
        if SNSUser[SNSUser["accountID"].isin([user2accountid(anyname2user(userName))])].shape[0] == 0:
            userExistFlag = False
        personExistFlag = True
        if Person[Person["personName"].isin([personName])].shape[0] == 0: 
            personExistFlag = False
        savesnsuser(anyname2user(userName))
        locationName = user2locationname(anyname2user(userName))
        if Location[Location["locationName"].isin([locationName])].shape[0] == 0:
            Location.loc[Location.shape[0] + 1] = {"locationID": Location.shape[0] + 1, 
                                                   "locationName": locationName}
        if not personExistFlag:
            Person.loc[Person.shape[0] + 1] = {"personID": Person.shape[0] + 1, 
                                               "personName": personName, 
                                               "locationID": Location[Location["locationName"].isin([locationName])].loc[:, ["locationID"]].values[0][0]}
            personID = Person.shape[0]
        else:
            personID = Person[Person["personName"].isin([personName])].loc[:, ["personID"]].values[0][0]
            Person.set_value(Person[Person["personName"].isin([personName])].loc[:, ["personID"]].values[0][0], "locationID", Location[Location["locationName"].isin([locationName])].loc[:, ["locationID"]].values[0][0])
        if (not userExistFlag) | (not personExistFlag):
            Person_SNSUser.loc[Person_SNSUser.shape[0] + 1] = {"prsID": Person_SNSUser.shape[0] + 1, 
                                                               "PersonpersonID": personID, 
                                                               "SNSUserSNSUserID": SNSUser[SNSUser["userName"].isin([userName])].loc[:, ["SNSUserID"]].values[0][0]}
            Person_SNSUser.drop_duplicates(subset=["PersonpersonID","SNSUserSNSUserID"], keep='first', inplace=True)
        if Fan[Fan["personID"].isin([personID])].shape[0] == 0:
            Fan.loc[Fan.shape[0] + 1] = {"personID": personID}
        teamsnsid = SNSUser[SNSUser["userName"].isin([hashtag])].loc[:, ["SNSUserID"]].values[0][0]
        teamteamid = Team_SNSUser[Team_SNSUser["SNSUserSNSUserID"].isin([teamsnsid])].loc[:, ["TeamteamID"]].values[0][0]
        teamName = Team[Team["teamID"].isin([teamteamid])].loc[:, ["teamName"]].values[0][0]
        Fan_Team.loc[Fan_Team.shape[0] + 1] = {"frtID": Fan_Team.shape[0] + 1, 
                                               "FanpersonID": personID, 
                                               "TeamteamID": Team[Team["teamName"].isin([teamName])].loc[:, ["teamID"]].values[0][0]}
        Fan_Team.drop_duplicates(subset=["FanpersonID","TeamteamID"], keep='first', inplace=True)

## save posts with player #hashtag

In [28]:
# save posts with player #hashtag
def saveplayerhashtagposts(hashtag, number):
    postlist = tagtexthashtag2postlist(hashtag, number)
    for post in postlist:
        user = anyname2user(post2snsuserid(post))
        userName = user2username(user)
        personName = user2name(user)
        personID = 0
        userExistFlag = True
        if SNSUser[SNSUser["accountID"].isin([user2accountid(anyname2user(userName))])].shape[0] == 0:
            userExistFlag = False
        personExistFlag = True
        if Person[Person["personName"].isin([personName])].shape[0] == 0: 
            personExistFlag = False
        savesnsuser(anyname2user(userName))
        locationName = user2locationname(anyname2user(userName))
        if Location[Location["locationName"].isin([locationName])].shape[0] == 0:
            Location.loc[Location.shape[0] + 1] = {"locationID": Location.shape[0] + 1, 
                                                   "locationName": locationName}
        if not personExistFlag:
            Person.loc[Person.shape[0] + 1] = {"personID": Person.shape[0] + 1, 
                                               "personName": personName, 
                                               "locationID": Location[Location["locationName"].isin([locationName])].loc[:, ["locationID"]].values[0][0]}
            personID = Person.shape[0]
        else:
            personID = Person[Person["personName"].isin([personName])].loc[:, ["personID"]].values[0][0]
            Person.set_value(Person[Person["personName"].isin([personName])].loc[:, ["personID"]].values[0][0], "locationID", Location[Location["locationName"].isin([locationName])].loc[:, ["locationID"]].values[0][0])
        if (not userExistFlag) | (not personExistFlag):
            Person_SNSUser.loc[Person_SNSUser.shape[0] + 1] = {"prsID": Person_SNSUser.shape[0] + 1, 
                                                               "PersonpersonID": personID, 
                                                               "SNSUserSNSUserID": SNSUser[SNSUser["userName"].isin([userName])].loc[:, ["SNSUserID"]].values[0][0]}
            Person_SNSUser.drop_duplicates(subset=["PersonpersonID","SNSUserSNSUserID"], keep='first', inplace=True)
        if Fan[Fan["personID"].isin([personID])].shape[0] == 0:
            Fan.loc[Fan.shape[0] + 1] = {"personID": personID}
        playersnsid = SNSUser[SNSUser["userName"].isin([hashtag])].loc[:, ["SNSUserID"]].values[0][0]
        personpersonid = Person_SNSUser[Person_SNSUser["SNSUserSNSUserID"].isin([playersnsid])].loc[:, ["PersonpersonID"]].values[0][0]
        personName = Person[Person["personID"].isin([personpersonid])].loc[:, ["personName"]].values[0][0]
        Player_Fan.loc[Player_Fan.shape[0] + 1] = {"prfID": Player_Fan.shape[0] + 1, 
                                                   "PlayerpersonID": Person[Person["personName"].isin([personName])].loc[:, ["personID"]].values[0][0], 
                                                   "FanpersonID": personID}
        Player_Fan.drop_duplicates(subset=["PlayerpersonID","FanpersonID"], keep='first', inplace=True)
        savesnspost(post)

## save posts with @mention

In [29]:
# save posts with @mention
def savementionposts(mention, number):
    postlist = tagtextmention2postlist(mention, number)   
    for post in postlist:
        user = anyname2user(post2snsuserid(post))
        userName = user2username(user)
        personName = user2name(user)
        personID = 0
        userExistFlag = True
        if SNSUser[SNSUser["accountID"].isin([user2accountid(anyname2user(userName))])].shape[0] == 0:
            userExistFlag = False
        personExistFlag = True
        if Person[Person["personName"].isin([personName])].shape[0] == 0: 
            personExistFlag = False
        savesnsuser(anyname2user(userName))
        locationName = user2locationname(anyname2user(userName))
        if Location[Location["locationName"].isin([locationName])].shape[0] == 0:
            Location.loc[Location.shape[0] + 1] = {"locationID": Location.shape[0] + 1, 
                                                   "locationName": locationName}
        if not personExistFlag:
            Person.loc[Person.shape[0] + 1] = {"personID": Person.shape[0] + 1, 
                                               "personName": personName, 
                                               "locationID": Location[Location["locationName"].isin([locationName])].loc[:, ["locationID"]].values[0][0]}
            personID = Person.shape[0]
        else:
            personID = Person[Person["personName"].isin([personName])].loc[:, ["personID"]].values[0][0]
            Person.set_value(Person[Person["personName"].isin([personName])].loc[:, ["personID"]].values[0][0], "locationID", Location[Location["locationName"].isin([locationName])].loc[:, ["locationID"]].values[0][0])
        if (not userExistFlag) | (not personExistFlag):
            Person_SNSUser.loc[Person_SNSUser.shape[0] + 1] = {"prsID": Person_SNSUser.shape[0] + 1, 
                                                               "PersonpersonID": personID, 
                                                               "SNSUserSNSUserID": SNSUser[SNSUser["userName"].isin([userName])].loc[:, ["SNSUserID"]].values[0][0]}
            Person_SNSUser.drop_duplicates(subset = ["PersonpersonID","SNSUserSNSUserID"], keep='first', inplace=True)
        savesnspost(post)

# Saving

## save teams & players

In [30]:
teamSNS = [["Houston Astros", "astros"], 
           ["Detroit Tigers", "tigers"], 
           ["Texas Rangers", "Rangers"]]
playerSNS = [["Alexander David Bregman", "ABREG_1"], 
             ["Carlos Javier Correa", "TeamCJCorrea"], 
             ["José Carlos Altuve", "JoseAltuve27"], 
             ["Nicholas A. Castellanos", "Ncastellano22"], 
             ["Jose Miguel Cabrera", "MiguelCabrera"], 
             ["Jeimer Candelario", "jeimer24C"], 
             ["Elvis Augusto Andrus", "ElvisandrusSS1"], 
             ["Hunter Andrew Pence", "hunterpence"], 
             ["Nomar Shamir Mazara", "NomarMzra26"]]

In [31]:
try:
    counter = 0
    for team in teamSNS:
        saveteam(team[0], team[1])
        counter = counter + 1
        print(counter)
    for player in playerSNS:
        saveplayer(player[0], player[1])
        counter = counter + 1
        print(counter)
    counter = 0
except tweepy.error.TweepError:
    pass

1
2
3
4
5
6
7
8
9
10
11
12

 ## save teams' and players' posts

In [32]:
days = 30
try:
    counter = 0
    for team in teamSNS:
        saveposts(team[1], days)
        counter = counter + 1
        print(counter)
    for player in playerSNS:
        saveposts(player[1], days)
        counter = counter + 1
        print(counter)
    counter = 0
except tweepy.error.TweepError:
    pass

1
2
3
4
5
6
7
8
9
10
11
12

## save tags posts

In [33]:
postscount = 100
try:
    counter = 0
    for team in teamSNS:
        saveteamhashtagposts(team[1], postscount)
        savementionposts(team[1], postscount)
        counter = counter + 1
        print(counter)
    for player in playerSNS:
        saveplayerhashtagposts(player[1], postscount)
        savementionposts(player[1], postscount)
        counter = counter + 1
        print(counter)
    counter = 0
except tweepy.error.TweepError:
    pass

1
2
3
4
5
6
7
8
9
10
11
12

# Show tables

In [34]:
Player.head()

  personID
1        1
2        2
3        3
4        4
5        5

In [35]:
Player_Fan.head()

  prfID PlayerpersonID FanpersonID
1     1              3         684
2     2              5         758
3     3              5         759
4     4              5         760
5     5              5         761

In [36]:
Fan.head()

  personID
1       10
2       11
3       12
4       13
5       14

In [37]:
Fan_Team.head()

  frtID FanpersonID TeamteamID
1     1          10          1
2     2          11          1
3     3          12          1
4     4          13          1
5     5          14          1

In [38]:
Person.head()

  personID               personName locationID
1        1  Alexander David Bregman          4
2        2     Carlos Javier Correa          5
3        3       José Carlos Altuve          5
4        4  Nicholas A. Castellanos          6
5        5      Jose Miguel Cabrera          7

In [39]:
Team.head()

  teamID        teamName locationID
1      1  Houston Astros          1
2      2  Detroit Tigers          2
3      3   Texas Rangers          3

In [40]:
Person_SNSUser.head()

  prsID PersonpersonID SNSUserSNSUserID
1     1              1                4
2     2              2                5
3     3              3                6
4     4              4                7
5     5              5                8

In [41]:
Location.head()

  locationID                locationName
1          1            Minute Maid Park
2          2               Comerica Park
3          3  Deep in the Heart of Texas
4          4             Albuquerque, NM
5          5

In [42]:
Team_SNSUser.head()

  trsID TeamteamID SNSUserSNSUserID
1     1          1                1
2     2          2                2
3     3          3                3

In [43]:
SNSUser.head()

  SNSUserID  SNSType   accountID      userName followersCount postsCount
1         1  Twitter    52803520        astros        1455653      72000
2         2  Twitter    30008146        tigers        1453071      49251
3         3  Twitter    40931019       Rangers        1426982      43627
4         4  Twitter   382708289       ABREG_1         242213       7895
5         5  Twitter  2811330143  TeamCJCorrea         221551        740

In [44]:
Post.head()

,SNSpostID,postID,SNSUserID,content,favoriteCount,createdTime
1,1,1121607683507810304,1,"Final: Indians 2, #Astros 1",111,2019-04-26 02:51:24
2,2,1121598945145147392,1,We know you'd like this in your living room. \...,1068,2019-04-26 02:16:41
3,3,1121582532955230208,1,"Hang it, then bang it. 💥\n\nWe're all square! ...",2829,2019-04-26 01:11:28
4,4,1121579802551435264,1,George doesn't look too frustrated anymore.\n\...,1453,2019-04-26 01:00:37
5,5,1121575278755471360,1,Special message from the @Indians to Uncle Mik...,623,2019-04-26 00:42:38

In [45]:
Post_Tag.head()

  prtID PostSNSpostID TagTagID
1     1             1        1
2     2             2        2
3     3             3        2
4     4             4        2
5     5             5        2

In [46]:
Tag.head()

  tagID         tagText  tagType
1     1          Astros  hashtag
2     2      TakeItBack  hashtag
3     3         Indians  mention
4     4         ABREG_1  mention
5     5  ATTSportsNetSW  mention

In [47]:
DomainTag.head()

Empty DataFrame
Columns: [tagID]
Index: []

In [48]:
SynonymsTag.head()

Empty DataFrame
Columns: [tagID1, tagID2]
Index: []

In [49]:
MisspellingsTag.head()

Empty DataFrame
Columns: [tagID1, tagID2]
Index: []

In [50]:
TagCatagory_Tag.head()

Empty DataFrame
Columns: [trtID, TagCatagorycatagoryID, TagTagID]
Index: []

In [51]:
TagCatagory.head()

Empty DataFrame
Columns: [catagoryID, catagoryName]
Index: []

In [52]:
PlayerList = Player.values.tolist()
Player_FanList = Player_Fan.values.tolist()
FanList = Fan.values.tolist()
Fan_TeamList = Fan_Team.values.tolist()
PersonList = Person.values.tolist()
TeamList = Team.values.tolist()
Person_SNSUserList = Person_SNSUser.values.tolist()
LocationList = Location.values.tolist()
Team_SNSUserList = Team_SNSUser.values.tolist()
SNSUserList = SNSUser.values.tolist()
PostList = Post.values.tolist()
Post_TagList = Post_Tag.values.tolist()
TagList = Tag.values.tolist()
DomainTagList = DomainTag.values.tolist()
SynonymsTagList = SynonymsTag.values.tolist()
MisspellingsTagList = MisspellingsTag.values.tolist()
TagCatagory_TagList = TagCatagory_Tag.values.tolist()
TagCatagoryList = TagCatagory.values.tolist()

# Tagging

## DomainTag

In [53]:
for tag in TagList:
    if tag[2]=="hashtag":
        for player in playerSNS:
            if tag[1] in player[1]:
                DomainTagList.append([tag[0]])
        for team in teamSNS:
            if tag[1] in team[1]:
                DomainTagList.append([tag[0]])
DomainTagList

[[2553], [2571], [2571], [2613], [2656], [2658], [2724], [2738], [2885]]

## SynonymsTag

In [54]:
def tagcount1(tagid):
    counter = 0
    for pt in Post_TagList:
        if pt[2]==tagid:
            counter=counter+1
    return counter
tagcount1(5)

30

In [55]:
def tagcount2(tagid1, tagid2):
    counter=0
    tagid1list = []
    for posttag in Post_TagList:
        if posttag[2]==tagid1:
            tagid1list.append(posttag[1])
    tagid2list = []
    for posttag in Post_TagList:
        if posttag[2]==tagid2:
            tagid2list.append(posttag[1])
    for tagid1 in tagid1list:
        for tagid2 in tagid2list:
            if tagid1==tagid2:
                counter=counter+1
    return counter
tagcount2(1,2)

3

In [79]:
ratioleast = 0.75
countleast = 10
for tag1 in TagList:
    if tag1[2] == "hashtag" and tagcount1(tag1[0])>countleast:    
        for tag2 in TagList:
            if tag2[2] == "hashtag" and tagcount1(tag2[0]>countleast):
                if tag1 != tag2:
                    tag1id = tag1[0]
                    tag2id = tag2[0]
                    f1 = tagcount1(tag1id)
                    f2 = tagcount1(tag2id)
                    f3 = tagcount2(tag1id, tag2id)
                    if f3/f1 > ratioleast or f3/f2 >ratioleast:
                        if tag1id > tag2id:
                            temptagid = tag1id
                            tag1id = tag2id
                            tag2id = temptagid
                        if [tag1id, tag2id] not in SynonymsTagList:
                            SynonymsTagList.append([tag1id, tag2id])

In [80]:
SynonymsTagList

[[1, 55],
 [1, 102],
 [1, 2649],
 [1, 2650],
 [1, 2651],
 [1, 2704],
 [1, 2705],
 [1, 2706],
 [2, 15],
 [2, 133],
 [2, 2195],
 [2, 2476],
 [2, 2477],
 [2, 2608],
 [2, 2658],
 [137, 1791],
 [137, 2215],
 [137, 2216],
 [163, 266],
 [163, 289],
 [163, 500],
 [163, 532],
 [163, 704],
 [163, 708],
 [163, 832],
 [163, 976],
 [163, 1169],
 [163, 1471],
 [163, 2538],
 [163, 2787],
 [163, 2801],
 [255, 1169],
 [255, 2551],
 [255, 2728],
 [255, 2729],
 [255, 2730],
 [255, 2735],
 [255, 2736],
 [255, 2737],
 [255, 2739],
 [255, 2740],
 [255, 2741],
 [255, 2742],
 [255, 2743],
 [255, 2744],
 [255, 2745],
 [255, 2746],
 [255, 2747],
 [255, 2748],
 [882, 2551],
 [882, 2571],
 [882, 2572],
 [882, 2573],
 [882, 2575],
 [882, 2671],
 [882, 2672],
 [882, 2701],
 [882, 2728],
 [882, 2729],
 [882, 2730],
 [882, 2735],
 [882, 2736],
 [882, 2737],
 [882, 2739],
 [882, 2740],
 [882, 2741],
 [882, 2742],
 [882, 2743],
 [882, 2744],
 [882, 2745],
 [882, 2746],
 [882, 2747],
 [882, 2748],
 [882, 2829],
 [882, 2830],
 [882, 2831],
 [882, 2832],
 [882, 2833],
 [882, 2847],
 [882, 2848],
 [1054, 1467],
 [1480, 1708],
 [1480, 1730],
 [1480, 1791],
 [1480, 1817],
 [1480, 1818],
 [1480, 2847],
 [1480, 2848],
 [2553, 2844],
 [2553, 2847],
 [2553, 2848],
 [2553, 2860],
 [2553, 2861],
 [2553, 2862],
 [2553, 2863],
 [2553, 2864],
 [2553, 2865],
 [2553, 2866],
 [2553, 2867],
 [2692, 2693],
 [2692, 2843],
 [2721, 2722],
 [2721, 2723],
 [2721, 2749],
 [2722, 2723],
 [2722, 2725],
 [2722, 2749],
 [2722, 2750],
 [2722, 2751],
 [2888, 2889],
 [2889, 2890],
 [2889, 2891],
 [2889, 2898],
 [2889, 2899],
 [2889, 2900],
 [2889, 2901],
 [2889, 2902],
 [2889, 2903],
 [2889, 2904],
 [2889, 2905],
 [2889, 2906],
 [2889, 2907],
 [2889, 2908],
 [2889, 2909],
 [2889, 2910],
 [2889, 2911],
 [2889, 2912],
 [2889, 2914],
 [2889, 2915],
 [2889, 2917],
 [2889, 2918],
 [2889, 2920],
 [2889, 2921],
 [2889, 2922],
 [2889, 2923],
 [2889, 2924],
 [2889, 2925],
 [2889, 2926],
 [2889, 2927],
 [2889, 2928],
 [2889, 2929],
 [2978, 2979]]

## MisspellingsTag

### Levenshtein distance calculation function

In [59]:
# Levenshtein distance calculation function
# Reference: https://rosettacode.org/wiki/Levenshtein_distance#Python
def ldistance(s1, s2):
    if len(s1) > len(s2):
        s1, s2 = s2, s1
    distances = range(len(s1) + 1)
    for index2, char2 in enumerate(s2):
        newDistances = [index2 + 1]
        for index1,char1 in enumerate(s1):
            if char1 == char2:
                newDistances.append(distances[index1])
            else:
                newDistances.append(1 + min((distances[index1],
                                             distances[index1 + 1],
                                             newDistances[-1])))
        distances = newDistances
    return distances[-1]

In [60]:
d1ratioleast = 0.30
d2ratioleast = 0.20
d3ratioleast = 0.10
for tag1 in TagList:
    if tag1[2] == "hashtag":    
        for tag2 in TagList:
            if tag2[2] == "hashtag":
                if tag1 != tag2:
                    tag1id=tag1[0]
                    tag2id=tag2[0]
                    f1=tagcount1(tag1id)
                    f2=tagcount1(tag2id)
                    distance=ldistance(tag1[1],tag2[1])
                    if distance<4:
                        if distance==1:
                            ratio=d1ratioleast
                        if distance==2:
                            ratio=d2ratioleast
                        if distance==3:
                            ratio=d3ratioleast
                        if f1/f2<ratio or f2/f1<ratio:
                            if f1>f2:
                                temptag =tag1id
                                tag1id=tag2id
                                tag2id=temptag
                                tempf=f1
                                f1=f2
                                f2=tempf
                            misspt0list=[]
                            for misspt in MisspellingsTagList:
                                misspt0list.append(misspt[0])
                            if not tag1id in misspt0list:
                                 MisspellingsTagList.append([tag1id, tag2id])
                            else:
                                missptori = []
                                for misspt in MisspellingsTagList:
                                    if misspt[0] == tag1id:
                                        missptori = misspt
                                        break
                                tagori1=""
                                tagori2=""
                                for tag in TagList:
                                    if tag[0]==missptori[0]:
                                        tagori1=tag[1]
                                    if tag[0]==missptori[1]:
                                        tagori2=tag[1]
                                f1ori=tagcount1(missptori[0])
                                f2ori=tagcount1(missptori[1])
                                rori=f1ori/f2ori
                                r=f1/f2
                                distanceori=ldistance(tagori1,tagori2)
                                if distance <distanceori:
                                    counter=-1
                                    for misspt in MisspellingsTagList:
                                        counter=counter+1
                                        if misspt[0]==tag1id:
                                            break
                                    MisspellingsTagList[counter]=[tag1id,tag2id]
                                else:
                                    if distance ==distanceori:
                                        if r<rori:
                                            counter=-1
                                            for misspt in MisspellingsTagList:
                                                counter=counter+1
                                                if misspt[0]==tag1id:
                                                    break
                                            MisspellingsTagList[counter]=[tag1id,tag2id]

In [61]:
MisspellingsTagList

[[37, 1],
 [2613, 1],
 [2689, 1],
 [16, 2],
 [2626, 2],
 [26, 65],
 [140, 137],
 [1817, 137],
 [755, 163],
 [1018, 163],
 [2244, 202],
 [2833, 202],
 [2738, 255],
 [550, 2513],
 [1653, 882],
 [1676, 882],
 [1750, 882],
 [2441, 882],
 [2487, 882],
 [2571, 882],
 [2741, 882],
 [2742, 882],
 [2832, 882],
 [1769, 1480],
 [1707, 1527],
 [1590, 2553],
 [2737, 2513],
 [2531, 2553],
 [2917, 2553],
 [2734, 2692],
 [2724, 2722]]

## TagCatagory

In [62]:
TagCatagoryList=[[1,"hashtag"], 
                 [2,"mention"],
                 [3,"domaintag"],
                 [4,"synonymstag"],
                 [5,"misspellingstag"]]

## TagCatagory_Tag

In [63]:
counter=0
for tag in TagList:
    if tag[2]=="hashtag":
        counter=counter+1
        TagCatagory_TagList.append([counter,1,tag[0]])
    if tag[2]=="mention":
        counter=counter+1
        TagCatagory_TagList.append([counter,2,tag[0]])
    domlist = []
    for dom in DomainTagList:
        domlist.append(dom[0])
    if tag[0] in domlist:
        counter=counter+1
        TagCatagory_TagList.append([counter,3,tag[0]])
    synlist=[]
    for syn in SynonymsTagList:
        synlist.append(syn[0])
    if tag[0] in synlist:
        counter=counter+1
        TagCatagory_TagList.append([counter,4,tag[0]])
    mislist=[]
    for mis in MisspellingsTagList:
        mislist.append(mis[0])
    if tag[0] in mislist:
        counter=counter+1
        TagCatagory_TagList.append([counter,5,tag[0]])

In [64]:
TagCatagory_TagList

[[1, 1, 1],
 [2, 1, 2],
 [3, 2, 3],
 [4, 2, 4],
 [5, 2, 5],
 [6, 2, 6],
 [7, 1, 7],
 [8, 2, 8],
 [9, 2, 9],
 [10, 2, 10],
 [11, 2, 11],
 [12, 1, 12],
 [13, 1, 13],
 [14, 1, 14],
 [15, 1, 15],
 [16, 1, 16],
 [17, 5, 16],
 [18, 2, 17],
 [19, 2, 18],
 [20, 2, 19],
 [21, 2, 20],
 [22, 2, 21],
 [23, 1, 22],
 [24, 2, 23],
 [25, 2, 24],
 [26, 2, 25],
 [27, 1, 26],
 [28, 5, 26],
 [29, 2, 27],
 [30, 2, 28],
 [31, 2, 29],
 [32, 2, 30],
 [33, 2, 31],
 [34, 2, 32],
 [35, 2, 33],
 [36, 2, 34],
 [37, 2, 35],
 [38, 2, 36],
 [39, 1, 37],
 [40, 5, 37],
 [41, 2, 38],
 [42, 2, 39],
 [43, 2, 40],
 [44, 2, 41],
 [45, 1, 42],
 [46, 1, 43],
 [47, 2, 44],
 [48, 2, 45],
 [49, 2, 46],
 [50, 1, 47],
 [51, 2, 48],
 [52, 2, 49],
 [53, 2, 50],
 [54, 2, 51],
 [55, 1, 52],
 [56, 2, 53],
 [57, 2, 54],
 [58, 1, 55],
 [59, 2, 56],
 [60, 2, 57],
 [61, 2, 58],
 [62, 2, 59],
 [63, 1, 60],
 [64, 2, 61],
 [65, 2, 62],
 [66, 1, 63],
 [67, 2, 64],
 [68, 1, 65],
 [69, 2, 66],
 [70, 2, 67],
 [71, 2, 68],
 [72, 1, 69],
 [73, 2, 70],
 [74, 1, 71],
 [75, 2, 72],
 [76, 2, 73],
 [77, 2, 74],
 [78, 2, 75],
 [79, 1, 76],
 [80, 2, 77],
 [81, 2, 78],
 [82, 2, 79],
 [83, 2, 80],
 [84, 2, 81],
 [85, 2, 82],
 [86, 2, 83],
 [87, 2, 84],
 [88, 2, 85],
 [89, 2, 86],
 [90, 1, 87],
 [91, 2, 88],
 [92, 2, 89],
 [93, 2, 90],
 [94, 2, 91],
 [95, 2, 92],
 [96, 2, 93],
 [97, 1, 94],
 [98, 1, 95],
 [99, 1, 96],
 [100, 2, 97],
 [101, 2, 98],
 [102, 2, 99],
 [103, 2, 100],
 [104, 2, 101],
 [105, 1, 102],
 [106, 1, 103],
 [107, 2, 104],
 [108, 2, 105],
 [109, 2, 106],
 [110, 2, 107],
 [111, 2, 108],
 [112, 2, 109],
 [113, 1, 110],
 [114, 2, 111],
 [115, 2, 112],
 [116, 2, 113],
 [117, 2, 114],
 [118, 2, 115],
 [119, 2, 116],
 [120, 1, 117],
 [121, 2, 118],
 [122, 2, 119],
 [123, 2, 120],
 [124, 2, 121],
 [125, 2, 122],
 [126, 2, 123],
 [127, 2, 124],
 [128, 2, 125],
 [129, 2, 126],
 [130, 2, 127],
 [131, 1, 128],
 [132, 2, 129],
 [133, 1, 130],
 [134, 2, 131],
 [135, 2, 132],
 [136, 1, 133],
 [137, 2, 134],
 [138, 2, 135],
 [139, 2, 136],
 [140, 1, 137],
 [141, 2, 138],
 [142, 1, 139],
 [143, 1, 140],
 [144, 5, 140],
 [145, 2, 141],
 [146, 2, 142],
 [147, 2, 143],
 [148, 2, 144],
 [149, 2, 145],
 [150, 2, 146],
 [151, 2, 147],
 [152, 2, 148],
 [153, 2, 149],
 [154, 2, 150],
 [155, 1, 151],
 [156, 2, 152],
 [157, 2, 153],
 [158, 1, 154],
 [159, 1, 155],
 [160, 2, 156],
 [161, 2, 157],
 [162, 2, 158],
 [163, 2, 159],
 [164, 2, 160],
 [165, 2, 161],
 [166, 2, 162],
 [167, 1, 163],
 [168, 2, 164],
 [169, 2, 165],
 [170, 2, 166],
 [171, 2, 167],
 [172, 2, 168],
 [173, 2, 169],
 [174, 2, 170],
 [175, 2, 171],
 [176, 2, 172],
 [177, 2, 173],
 [178, 2, 174],
 [179, 2, 175],
 [180, 2, 176],
 [181, 2, 177],
 [182, 2, 178],
 [183, 2, 179],
 [184, 2, 180],
 [185, 2, 181],
 [186, 2, 182],
 [187, 2, 183],
 [188, 2, 184],
 [189, 2, 185],
 [190, 2, 186],
 [191, 2, 187],
 [192, 2, 188],
 [193, 2, 189],
 [194, 2, 190],
 [195, 2, 191],
 [196, 2, 192],
 [197, 2, 193],
 [198, 2, 194],
 [199, 2, 195],
 [200, 2, 196],
 [201, 2, 197],
 [202, 2, 198],
 [203, 2, 199],
 [204, 2, 200],
 [205, 2, 201],
 [206, 1, 202],
 [207, 2, 203],
 [208, 1, 204],
 [209, 2, 205],
 [210, 1, 206],
 [211, 2, 207],
 [212, 2, 208],
 [213, 2, 209],
 [214, 2, 210],
 [215, 2, 211],
 [216, 2, 212],
 [217, 2, 213],
 [218, 2, 214],
 [219, 2, 215],
 [220, 2, 216],
 [221, 2, 217],
 [222, 2, 218],
 [223, 2, 219],
 [224, 2, 220],
 [225, 2, 221],
 [226, 2, 222],
 [227, 2, 223],
 [228, 2, 224],
 [229, 2, 225],
 [230, 2, 226],
 [231, 2, 227],
 [232, 2, 228],
 [233, 2, 229],
 [234, 2, 230],
 [235, 2, 231],
 [236, 2, 232],
 [237, 2, 233],
 [238, 2, 234],
 [239, 2, 235],
 [240, 2, 236],
 [241, 2, 237],
 [242, 2, 238],
 [243, 2, 239],
 [244, 2, 240],
 [245, 2, 241],
 [246, 2, 242],
 [247, 2, 243],
 [248, 2, 244],
 [249, 2, 245],
 [250, 2, 246],
 [251, 2, 247],
 [252, 2, 248],
 [253, 2, 249],
 [254, 2, 250],
 [255, 2, 251],
 [256, 2, 252],
 [257, 2, 253],
 [258, 2, 254],
 [259, 1, 255],
 [260, 2, 256],
 [261, 2, 257],
 [262, 2, 258],
 [263, 2, 259],
 [264, 2, 260],
 [265, 2, 261],
 [266, 2, 262],
 [267, 2, 263],
 [268, 1, 264],
 [269, 2, 265],
 [270, 1, 266],
 [271, 2, 267],
 [272, 2, 268],
 [273, 2, 269],
 [274, 2, 270],
 [275, 2, 271],
 [276, 2, 272],
 [277, 2, 273],
 [278, 2, 274],
 [279, 2, 275],
 [280, 2, 276],
 [281, 2, 277],
 [282, 2, 278],
 [283, 2, 279],
 [284, 2, 280],
 [285, 2, 281],
 [286, 2, 282],
 [287, 2, 283],
 [288, 2, 284],
 [289, 2, 285],
 [290, 2, 286],
 [291, 2, 287],
 [292, 2, 288],
 [293, 1, 289],
 [294, 2, 290],
 [295, 2, 291],
 [296, 2, 292],
 [297, 2, 293],
 [298, 2, 294],
 [299, 2, 295],
 [300, 2, 296],
 [301, 2, 297],
 [302, 2, 298],
 [303, 2, 299],
 [304, 2, 300],
 [305, 2, 301],
 [306, 2, 302],
 [307, 2, 303],
 [308, 2, 304],
 [309, 2, 305],
 [310, 2, 306],
 [311, 2, 307],
 [312, 2, 308],
 [313, 2, 309],
 [314, 2, 310],
 [315, 2, 311],
 [316, 2, 312],
 [317, 2, 313],
 [318, 2, 314],
 [319, 2, 315],
 [320, 2, 316],
 [321, 2, 317],
 [322, 2, 318],
 [323, 2, 319],
 [324, 2, 320],
 [325, 2, 321],
 [326, 2, 322],
 [327, 2, 323],
 [328, 2, 324],
 [329, 2, 325],
 [330, 2, 326],
 [331, 2, 327],
 [332, 2, 328],
 [333, 2, 329],
 [334, 2, 330],
 [335, 2, 331],
 [336, 2, 332],
 [337, 2, 333],
 [338, 2, 334],
 [339, 2, 335],
 [340, 2, 336],
 [341, 2, 337],
 [342, 2, 338],
 [343, 2, 339],
 [344, 2, 340],
 [345, 2, 341],
 [346, 2, 342],
 [347, 2, 343],
 [348, 2, 344],
 [349, 2, 345],
 [350, 2, 346],
 [351, 2, 347],
 [352, 2, 348],
 [353, 2, 349],
 [354, 2, 350],
 [355, 2, 351],
 [356, 2, 352],
 [357, 2, 353],
 [358, 2, 354],
 [359, 2, 355],
 [360, 2, 356],
 [361, 2, 357],
 [362, 2, 358],
 [363, 2, 359],
 [364, 2, 360],
 [365, 2, 361],
 [366, 2, 362],
 [367, 2, 363],
 [368, 2, 364],
 [369, 2, 365],
 [370, 2, 366],
 [371, 2, 367],
 [372, 2, 368],
 [373, 2, 369],
 [374, 2, 370],
 [375, 2, 371],
 [376, 2, 372],
 [377, 2, 373],
 [378, 2, 374],
 [379, 1, 375],
 [380, 2, 376],
 [381, 2, 377],
 [382, 2, 378],
 [383, 2, 379],
 [384, 2, 380],
 [385, 2, 381],
 [386, 2, 382],
 [387, 2, 383],
 [388, 2, 384],
 [389, 2, 385],
 [390, 2, 386],
 [391, 2, 387],
 [392, 2, 388],
 [393, 2, 389],
 [394, 2, 390],
 [395, 2, 391],
 [396, 2, 392],
 [397, 2, 393],
 [398, 2, 394],
 [399, 2, 395],
 [400, 2, 396],
 [401, 2, 397],
 [402, 2, 398],
 [403, 2, 399],
 [404, 2, 400],
 [405, 2, 401],
 [406, 2, 402],
 [407, 2, 403],
 [408, 2, 404],
 [409, 2, 405],
 [410, 2, 406],
 [411, 2, 407],
 [412, 2, 408],
 [413, 2, 409],
 [414, 2, 410],
 [415, 2, 411],
 [416, 2, 412],
 [417, 2, 413],
 [418, 2, 414],
 [419, 2, 415],
 [420, 2, 416],
 [421, 2, 417],
 [422, 2, 418],
 [423, 2, 419],
 [424, 2, 420],
 [425, 2, 421],
 [426, 2, 422],
 [427, 2, 423],
 [428, 2, 424],
 [429, 2, 425],
 [430, 2, 426],
 [431, 2, 427],
 [432, 2, 428],
 [433, 2, 429],
 [434, 2, 430],
 [435, 2, 431],
 [436, 2, 432],
 [437, 2, 433],
 [438, 2, 434],
 [439, 2, 435],
 [440, 2, 436],
 [441, 2, 437],
 [442, 2, 438],
 [443, 2, 439],
 [444, 2, 440],
 [445, 2, 441],
 [446, 2, 442],
 [447, 2, 443],
 [448, 2, 444],
 [449, 2, 445],
 [450, 2, 446],
 [451, 2, 447],
 [452, 2, 448],
 [453, 2, 449],
 [454, 2, 450],
 [455, 2, 451],
 [456, 2, 452],
 [457, 2, 453],
 [458, 2, 454],
 [459, 2, 455],
 [460, 2, 456],
 [461, 2, 457],
 [462, 2, 458],
 [463, 2, 459],
 [464, 2, 460],
 [465, 2, 461],
 [466, 2, 462],
 [467, 2, 463],
 [468, 1, 464],
 [469, 1, 465],
 [470, 2, 466],
 [471, 2, 467],
 [472, 2, 468],
 [473, 2, 469],
 [474, 2, 470],
 [475, 2, 471],
 [476, 2, 472],
 [477, 2, 473],
 [478, 2, 474],
 [479, 2, 475],
 [480, 2, 476],
 [481, 2, 477],
 [482, 2, 478],
 [483, 2, 479],
 [484, 2, 480],
 [485, 2, 481],
 [486, 2, 482],
 [487, 2, 483],
 [488, 2, 484],
 [489, 2, 485],
 [490, 2, 486],
 [491, 2, 487],
 [492, 2, 488],
 [493, 2, 489],
 [494, 2, 490],
 [495, 2, 491],
 [496, 2, 492],
 [497, 2, 493],
 [498, 2, 494],
 [499, 2, 495],
 [500, 2, 496],
 [501, 2, 497],
 [502, 2, 498],
 [503, 2, 499],
 [504, 1, 500],
 [505, 2, 501],
 [506, 2, 502],
 [507, 2, 503],
 [508, 2, 504],
 [509, 2, 505],
 [510, 2, 506],
 [511, 2, 507],
 [512, 2, 508],
 [513, 2, 509],
 [514, 1, 510],
 [515, 1, 511],
 [516, 2, 512],
 [517, 2, 513],
 [518, 2, 514],
 [519, 2, 515],
 [520, 1, 516],
 [521, 2, 517],
 [522, 2, 518],
 [523, 2, 519],
 [524, 2, 520],
 [525, 2, 521],
 [526, 2, 522],
 [527, 2, 523],
 [528, 2, 524],
 [529, 2, 525],
 [530, 2, 526],
 [531, 2, 527],
 [532, 2, 528],
 [533, 2, 529],
 [534, 2, 530],
 [535, 2, 531],
 [536, 1, 532],
 [537, 2, 533],
 [538, 2, 534],
 [539, 2, 535],
 [540, 2, 536],
 [541, 2, 537],
 [542, 2, 538],
 [543, 2, 539],
 [544, 2, 540],
 [545, 2, 541],
 [546, 2, 542],
 [547, 2, 543],
 [548, 1, 544],
 [549, 2, 545],
 [550, 2, 546],
 [551, 2, 547],
 [552, 2, 548],
 [553, 2, 549],
 [554, 1, 550],
 [555, 5, 550],
 [556, 2, 551],
 [557, 2, 552],
 [558, 2, 553],
 [559, 2, 554],
 [560, 2, 555],
 [561, 2, 556],
 [562, 2, 557],
 [563, 2, 558],
 [564, 2, 559],
 [565, 2, 560],
 [566, 2, 561],
 [567, 2, 562],
 [568, 2, 563],
 [569, 2, 564],
 [570, 2, 565],
 [571, 2, 566],
 [572, 2, 567],
 [573, 2, 568],
 [574, 2, 569],
 [575, 2, 570],
 [576, 2, 571],
 [577, 2, 572],
 [578, 2, 573],
 [579, 2, 574],
 [580, 2, 575],
 [581, 2, 576],
 [582, 2, 577],
 [583, 2, 578],
 [584, 2, 579],
 [585, 2, 580],
 [586, 2, 581],
 [587, 2, 582],
 [588, 2, 583],
 [589, 2, 584],
 [590, 2, 585],
 [591, 2, 586],
 [592, 2, 587],
 [593, 2, 588],
 [594, 2, 589],
 [595, 2, 590],
 [596, 2, 591],
 [597, 2, 592],
 [598, 2, 593],
 [599, 2, 594],
 [600, 2, 595],
 [601, 2, 596],
 [602, 2, 597],
 [603, 2, 598],
 [604, 2, 599],
 [605, 2, 600],
 [606, 2, 601],
 [607, 2, 602],
 [608, 2, 603],
 [609, 2, 604],
 [610, 2, 605],
 [611, 2, 606],
 [612, 2, 607],
 [613, 2, 608],
 [614, 2, 609],
 [615, 2, 610],
 [616, 2, 611],
 [617, 2, 612],
 [618, 2, 613],
 [619, 2, 614],
 [620, 2, 615],
 [621, 2, 616],
 [622, 2, 617],
 [623, 2, 618],
 [624, 2, 619],
 [625, 2, 620],
 [626, 2, 621],
 [627, 2, 622],
 [628, 2, 623],
 [629, 2, 624],
 [630, 2, 625],
 [631, 1, 626],
 [632, 2, 627],
 [633, 2, 628],
 [634, 2, 629],
 [635, 2, 630],
 [636, 2, 631],
 [637, 2, 632],
 [638, 2, 633],
 [639, 2, 634],
 [640, 2, 635],
 [641, 2, 636],
 [642, 2, 637],
 [643, 2, 638],
 [644, 2, 639],
 [645, 2, 640],
 [646, 2, 641],
 [647, 2, 642],
 [648, 2, 643],
 [649, 2, 644],
 [650, 2, 645],
 [651, 2, 646],
 [652, 2, 647],
 [653, 2, 648],
 [654, 2, 649],
 [655, 2, 650],
 [656, 2, 651],
 [657, 2, 652],
 [658, 2, 653],
 [659, 2, 654],
 [660, 2, 655],
 [661, 2, 656],
 [662, 2, 657],
 [663, 2, 658],
 [664, 2, 659],
 [665, 2, 660],
 [666, 2, 661],
 [667, 2, 662],
 [668, 2, 663],
 [669, 2, 664],
 [670, 2, 665],
 [671, 2, 666],
 [672, 2, 667],
 [673, 2, 668],
 [674, 2, 669],
 [675, 2, 670],
 [676, 2, 671],
 [677, 2, 672],
 [678, 2, 673],
 [679, 2, 674],
 [680, 2, 675],
 [681, 2, 676],
 [682, 2, 677],
 [683, 2, 678],
 [684, 2, 679],
 [685, 2, 680],
 [686, 2, 681],
 [687, 2, 682],
 [688, 2, 683],
 [689, 2, 684],
 [690, 2, 685],
 [691, 2, 686],
 [692, 2, 687],
 [693, 2, 688],
 [694, 2, 689],
 [695, 2, 690],
 [696, 2, 691],
 [697, 2, 692],
 [698, 2, 693],
 [699, 2, 694],
 [700, 2, 695],
 [701, 2, 696],
 [702, 2, 697],
 [703, 2, 698],
 [704, 2, 699],
 [705, 2, 700],
 [706, 2, 701],
 [707, 1, 702],
 [708, 2, 703],
 [709, 1, 704],
 [710, 2, 705],
 [711, 2, 706],
 [712, 2, 707],
 [713, 1, 708],
 [714, 1, 709],
 [715, 2, 710],
 [716, 2, 711],
 [717, 2, 712],
 [718, 2, 713],
 [719, 2, 714],
 [720, 2, 715],
 [721, 2, 716],
 [722, 2, 717],
 [723, 2, 718],
 [724, 2, 719],
 [725, 2, 720],
 [726, 2, 721],
 [727, 2, 722],
 [728, 2, 723],
 [729, 2, 724],
 [730, 2, 725],
 [731, 2, 726],
 [732, 2, 727],
 [733, 2, 728],
 [734, 2, 729],
 [735, 2, 730],
 [736, 2, 731],
 [737, 2, 732],
 [738, 2, 733],
 [739, 2, 734],
 [740, 2, 735],
 [741, 2, 736],
 [742, 2, 737],
 [743, 2, 738],
 [744, 2, 739],
 [745, 2, 740],
 [746, 2, 741],
 [747, 2, 742],
 [748, 2, 743],
 [749, 2, 744],
 [750, 2, 745],
 [751, 2, 746],
 [752, 2, 747],
 [753, 2, 748],
 [754, 2, 749],
 [755, 2, 750],
 [756, 2, 751],
 [757, 2, 752],
 [758, 1, 753],
 [759, 2, 754],
 [760, 1, 755],
 [761, 5, 755],
 [762, 2, 756],
 [763, 2, 757],
 [764, 2, 758],
 [765, 2, 759],
 [766, 2, 760],
 [767, 2, 761],
 [768, 2, 762],
 [769, 2, 763],
 [770, 2, 764],
 [771, 2, 765],
 [772, 2, 766],
 [773, 2, 767],
 [774, 2, 768],
 [775, 2, 769],
 [776, 2, 770],
 [777, 2, 771],
 [778, 2, 772],
 [779, 2, 773],
 [780, 2, 774],
 [781, 2, 775],
 [782, 2, 776],
 [783, 2, 777],
 [784, 2, 778],
 [785, 2, 779],
 [786, 2, 780],
 [787, 2, 781],
 [788, 2, 782],
 [789, 2, 783],
 [790, 2, 784],
 [791, 2, 785],
 [792, 2, 786],
 [793, 2, 787],
 [794, 2, 788],
 [795, 2, 789],
 [796, 2, 790],
 [797, 2, 791],
 [798, 2, 792],
 [799, 1, 793],
 [800, 2, 794],
 [801, 2, 795],
 [802, 2, 796],
 [803, 2, 797],
 [804, 2, 798],
 [805, 2, 799],
 [806, 2, 800],
 [807, 2, 801],
 [808, 2, 802],
 [809, 2, 803],
 [810, 2, 804],
 [811, 2, 805],
 [812, 2, 806],
 [813, 2, 807],
 [814, 2, 808],
 [815, 2, 809],
 [816, 2, 810],
 [817, 2, 811],
 [818, 2, 812],
 [819, 2, 813],
 [820, 2, 814],
 [821, 2, 815],
 [822, 2, 816],
 [823, 2, 817],
 [824, 2, 818],
 [825, 2, 819],
 [826, 2, 820],
 [827, 2, 821],
 [828, 2, 822],
 [829, 2, 823],
 [830, 2, 824],
 [831, 2, 825],
 [832, 2, 826],
 [833, 2, 827],
 [834, 2, 828],
 [835, 1, 829],
 [836, 2, 830],
 [837, 2, 831],
 [838, 1, 832],
 [839, 2, 833],
 [840, 2, 834],
 [841, 2, 835],
 [842, 2, 836],
 [843, 2, 837],
 [844, 2, 838],
 [845, 2, 839],
 [846, 2, 840],
 [847, 2, 841],
 [848, 2, 842],
 [849, 2, 843],
 [850, 2, 844],
 [851, 2, 845],
 [852, 2, 846],
 [853, 2, 847],
 [854, 2, 848],
 [855, 2, 849],
 [856, 2, 850],
 [857, 2, 851],
 [858, 2, 852],
 [859, 1, 853],
 [860, 2, 854],
 [861, 2, 855],
 [862, 2, 856],
 [863, 2, 857],
 [864, 2, 858],
 [865, 2, 859],
 [866, 2, 860],
 [867, 2, 861],
 [868, 2, 862],
 [869, 1, 863],
 [870, 2, 864],
 [871, 2, 865],
 [872, 2, 866],
 [873, 2, 867],
 [874, 2, 868],
 [875, 2, 869],
 [876, 2, 870],
 [877, 2, 871],
 [878, 2, 872],
 [879, 2, 873],
 [880, 2, 874],
 [881, 2, 875],
 [882, 2, 876],
 [883, 2, 877],
 [884, 2, 878],
 [885, 2, 879],
 [886, 2, 880],
 [887, 2, 881],
 [888, 1, 882],
 [889, 2, 883],
 [890, 2, 884],
 [891, 2, 885],
 [892, 2, 886],
 [893, 2, 887],
 [894, 2, 888],
 [895, 2, 889],
 [896, 2, 890],
 [897, 2, 891],
 [898, 2, 892],
 [899, 2, 893],
 [900, 2, 894],
 [901, 2, 895],
 [902, 2, 896],
 [903, 2, 897],
 [904, 2, 898],
 [905, 2, 899],
 [906, 2, 900],
 [907, 2, 901],
 [908, 2, 902],
 [909, 2, 903],
 [910, 2, 904],
 [911, 2, 905],
 [912, 2, 906],
 [913, 2, 907],
 [914, 2, 908],
 [915, 2, 909],
 [916, 2, 910],
 [917, 2, 911],
 [918, 2, 912],
 [919, 2, 913],
 [920, 2, 914],
 [921, 2, 915],
 [922, 2, 916],
 [923, 2, 917],
 [924, 1, 918],
 [925, 2, 919],
 [926, 2, 920],
 [927, 2, 921],
 [928, 1, 922],
 [929, 2, 923],
 [930, 2, 924],
 [931, 2, 925],
 [932, 2, 926],
 [933, 2, 927],
 [934, 2, 928],
 [935, 2, 929],
 [936, 2, 930],
 [937, 2, 931],
 [938, 2, 932],
 [939, 2, 933],
 [940, 2, 934],
 [941, 2, 935],
 [942, 2, 936],
 [943, 2, 937],
 [944, 2, 938],
 [945, 2, 939],
 [946, 2, 940],
 [947, 2, 941],
 [948, 2, 942],
 [949, 2, 943],
 [950, 2, 944],
 [951, 2, 945],
 [952, 2, 946],
 [953, 2, 947],
 [954, 2, 948],
 [955, 2, 949],
 [956, 2, 950],
 [957, 2, 951],
 [958, 2, 952],
 [959, 2, 953],
 [960, 2, 954],
 [961, 2, 955],
 [962, 2, 956],
 [963, 2, 957],
 [964, 2, 958],
 [965, 2, 959],
 [966, 2, 960],
 [967, 2, 961],
 [968, 2, 962],
 [969, 2, 963],
 [970, 2, 964],
 [971, 2, 965],
 [972, 2, 966],
 [973, 2, 967],
 [974, 2, 968],
 [975, 2, 969],
 [976, 2, 970],
 [977, 2, 971],
 [978, 2, 972],
 [979, 2, 973],
 [980, 2, 974],
 [981, 2, 975],
 [982, 1, 976],
 [983, 2, 977],
 [984, 2, 978],
 [985, 2, 979],
 [986, 2, 980],
 [987, 2, 981],
 [988, 2, 982],
 [989, 2, 983],
 [990, 2, 984],
 [991, 2, 985],
 [992, 2, 986],
 [993, 2, 987],
 [994, 2, 988],
 [995, 2, 989],
 [996, 2, 990],
 [997, 2, 991],
 [998, 2, 992],
 [999, 2, 993],
 [1000, 2, 994],
 ...]

# Tagging dataframe

In [65]:
def list2tuplelist(list):
    tuplelist=[]
    for row in list:
        tuplelist.append(tuple(row))
    return tuplelist

In [66]:
labels=["tagID"]
DomainTag=pd.DataFrame.from_records(list2tuplelist(DomainTagList),columns=labels)

In [67]:
DomainTag.head()

   tagID
0   2553
1   2571
2   2571
3   2613
4   2656

In [82]:
labels=["tagID1","tagID2"]
SynonymsTag=pd.DataFrame.from_records(list2tuplelist(SynonymsTagList),columns=labels)

In [83]:
SynonymsTag.head()

   tagID1  tagID2
0       1      55
1       1     102
2       1    2649
3       1    2650
4       1    2651

In [70]:
labels=["tagID1","tagID2"]
MisspellingsTag=pd.DataFrame.from_records(list2tuplelist(MisspellingsTagList),columns=labels)

In [71]:
MisspellingsTag.head()

   tagID1  tagID2
0      37       1
1    2613       1
2    2689       1
3      16       2
4    2626       2

In [72]:
labels=["trtID","TagCatagorycatagoryID","TagTagID"]
TagCatagory_Tag=pd.DataFrame.from_records(list2tuplelist(TagCatagory_TagList),columns=labels)

In [73]:
TagCatagory_Tag.head()

   trtID  TagCatagorycatagoryID  TagTagID
0      1                      1         1
1      2                      1         2
2      3                      2         3
3      4                      2         4
4      5                      2         5

In [74]:
labels=["catagoryID","catagoryName"]
TagCatagory=pd.DataFrame.from_records(list2tuplelist(TagCatagoryList),columns=labels)

In [75]:
TagCatagory.head()

   catagoryID     catagoryName
0           1          hashtag
1           2          mention
2           3        domaintag
3           4      synonymstag
4           5  misspellingstag

# to csv

In [84]:
#Player = pd.DataFrame(columns = ["personID"])
Player.to_csv(r'Player.csv',index=False, encoding="utf-8-sig")
#Player_Fan = pd.DataFrame(columns = ["prfID", "PlayerpersonID", "FanpersonID"])
Player_Fan.to_csv(r'Player_Fan.csv',index=False, encoding="utf-8-sig")
#Fan = pd.DataFrame(columns = ["personID"])
Fan.to_csv(r'Fan.csv',index=False, encoding="utf-8-sig")
#Fan_Team = pd.DataFrame(columns = ["frtID", "FanpersonID", "TeamteamID"])
Fan_Team.to_csv(r'Fan_Team.csv',index=False, encoding="utf-8-sig")
#Person = pd.DataFrame(columns = ["personID", "personName", "locationID"])
Person.to_csv(r'Person.csv',index=False, encoding="utf-8-sig")
#Team = pd.DataFrame(columns = ["teamID", "teamName", "locationID"])
Team.to_csv(r'Team.csv',index=False, encoding="utf-8-sig")
#Person_SNSUser = pd.DataFrame(columns = ["prsID", "PersonpersonID", "SNSUserSNSUserID"])
Person_SNSUser.to_csv(r'Person_SNSUser.csv',index=False, encoding="utf-8-sig")
#Location = pd.DataFrame(columns = ["locationID", "locationName"])
Location.to_csv(r'Location.csv',index=False, encoding="utf-8-sig")
#Team_SNSUser = pd.DataFrame(columns = ["trsID", "TeamteamID", "SNSUserSNSUserID"])
Team_SNSUser.to_csv(r'Team_SNSUser.csv',index=False, encoding="utf-8-sig")
#SNSUser = pd.DataFrame(columns = ["SNSUserID", "SNSType", "accountID", "userName", "followersCount", "postsCount"])
SNSUser.to_csv(r'SNSUser.csv',index=False, encoding="utf-8-sig")
#Post = pd.DataFrame(columns = ["SNSpostID", "postID", "SNSUserID", "content", "favoriteCount", "createdTime"])
Post.to_csv(r'Post.csv',index=False, encoding="utf-8-sig")
#Post_Tag = pd.DataFrame(columns = ["prtID", "PostSNSpostID", "TagTagID"])
Post_Tag.to_csv(r'Post_Tag.csv',index=False, encoding="utf-8-sig")
#Tag = pd.DataFrame(columns = ["tagID", "tagText", "tagType"])
Tag.to_csv(r'Tag.csv',index=False, encoding="utf-8-sig")
#DomainTag = pd.DataFrame(columns = ["tagID"])
DomainTag.to_csv(r'DomainTag.csv',index=False, encoding="utf-8-sig")
#SynonymsTag = pd.DataFrame(columns = ["tagID1", "tagID2"])
SynonymsTag.to_csv(r'SynonymsTag.csv',index=False, encoding="utf-8-sig")
#MisspellingsTag = pd.DataFrame(columns = ["tagID1", "tagID2"])
MisspellingsTag.to_csv(r'MisspellingsTag.csv',index=False, encoding="utf-8-sig")
#TagCatagory_Tag = pd.DataFrame(columns = ["trtID", "TagCatagorycatagoryID", "TagTagID"])
TagCatagory_Tag.to_csv(r'TagCatagory_Tag.csv',index=False, encoding="utf-8-sig")
#TagCatagory = pd.DataFrame(columns = ["catagoryID", "catagoryName"])
TagCatagory.to_csv(r'TagCatagory.csv',index=False, encoding="utf-8-sig")